/* All Buttons */
.ui-dialog .charsheet button[type=roll]::before {
  content: "";
}

.sheet-generic{
  width: 100%;
}

.sheet-generic-2col{
  display: grid;
  grid-template-columns: auto auto;
}

/* The title box for a container */
.sheet-section-title{
  font-size: smaller;
  text-align: left;
}

.sheet-section{
  margin: auto;
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px black;
}

.char-header-4col {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 5px;
}

.char-header-2col {
    display: grid;
    grid-template-columns: 100px 120px;
    column-gap: 5px;
}

.middle-header-2col{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.sheet-middle{
  padding-top: 10px;
}

.char-top-layout-3col{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 20px;
    padding-top: 10px;
}

.basics {
    width: 100%;
}

/***************/
/* Header Area */
/***************/

.char-header-main{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  background-color: black;
  padding-bottom: 10px;
  color: whitesmoke;
  padding: 7px;
}

.char-header-fieldline {
  padding: 3px;
}

input.char-name-input {
  width: 600px;
  font-size: xx-large;
  border: solid 1px black;
  border-radius: 10px;
  background-color: white;
}

input.char-small-num-input{
  font-size: x-small;
  height: 15px;
  padding: 0px;
}

.char-header-stats {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  font-size: x-small;
}

/**************************************/
/*       Tab Buttons                  */
/**************************************/

.button-holder{
  margin: auto;
  width: 450px;
}

/* configure the tab buttons */
.charsheet .sheet-actions,
.charsheet .sheet-skills,
.charsheet .sheet-background,
.charsheet .sheet-kit {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="actions"] ~ div.sheet-actions,
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills, 
.charsheet .sheet-tabstoggle[value="kit"] ~ div.sheet-kit,
.charsheet .sheet-tabstoggle[value="background"] ~ div.sheet-background  {
    display: block;
}

/* Basic button styling */
button.sheet-button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  width: 75px;
}

button.sheet-button:hover {
  background-color: #ababab;
}

button.sheet-button-selected {
  background-color: green;
  border: none;
  border-radius: 5px;
  width: 75px;
}

/******************/
/* Basic Template */
/******************/

.sheet-rolltemplate-drawsteelbasic {
  border: solid purple;
}

.sheet-rolltemplate-drawsteelbasic .sheet-template-title{
  background-color: purple;
  text-decoration-color: aliceblue;
  padding: 5px;
}

.sheet-rolltemplate-drawsteelbasic .sheet-template-body{
  text-align: center;
  border: solid 1px purple;
  background-color: rgb(31, 18, 31);;
}

.sheet-rolltemplate-drawsteelbasic .sheet-template-crit{
  text-align: center;
  background-color: greenyellow;
  color: rgb(53, 24, 30);
  font-size:larger;
  padding: 10px;
}

.sheet-rolltemplate-drawsteelbasic .sheet-template-result{
  text-align: center;
  padding: 10px;
}

/*******************/
/* Attack Template */
/*******************/

.sheet-rolltemplate-drawsteelattack {
    border: solid 1px rgb(116, 181, 255);
}

.sheet-rolltemplate-drawsteelattack .sheet-template-title{
    background-color: rgb(116, 181, 255);
    text-decoration-color: aliceblue;
    color: black;
    padding: 5px;
}

.sheet-rolltemplate-drawsteelattack .sheet-template-body{
  border: solid 1px rgb(116, 181, 255);
  background-color: #171e24;
}

.sheet-rolltemplate-drawsteelattack .sheet-template-crit{
  color: rgb(53, 24, 30);
  font-size:larger;
  padding: 10px;
  text-align: center;
  background-color: greenyellow;
}

.sheet-rolltemplate-drawsteelattack .sheet-template-result{
    border: solid 1px rgb(116, 181, 255);
    padding: 5px;
}

.sheet-rolltemplate-drawsteelattack .sheet-template-tier {
  text-align: center;
  font-size: smaller;
  padding: 3px;
  border-bottom: solid 1px rgb(116, 181, 255);
}

.sheet-rolltemplate-drawsteelattack .sheet-template-damage{
    text-align: center;
    padding-top: 5px;
}

.sheet-rolltemplate-drawsteelattack .sheet-template-desc{
    text-align: center;
    padding: 3px;
}

.sheet-rolltemplate-drawsteelattack .sheet-template-special{
  text-align: left;
  padding: 5px;
  border: solid 1px rgb(116, 181, 255);
  background-color: #171e24;
}

.sheet-rolltemplate-drawsteelattack .inlinerollresult  {
  background-color: #171e24;
  color: white;
}

/******************/
/* Abilities Template */
/******************/

.sheet-rolltemplate-drawsteelability {
  border: solid rgb(104, 93, 64);
}

.sheet-rolltemplate-drawsteelability .sheet-template-title{
  background-color: rgb(104, 93, 64);
  color: white;
  text-decoration-color: aliceblue;
  padding: 5px;
}

.sheet-rolltemplate-drawsteelability .sheet-template-body{
  text-align: center;
  border: solid 1px rgb(104, 93, 64);
  background-color: rgb(32, 27, 15);;
}

.sheet-rolltemplate-drawsteelability .sheet-template-crit{
  text-align: center;
  background-color: greenyellow;
  color: rgb(32, 27, 15);
  font-size:larger;
  padding: 10px;
}

.sheet-rolltemplate-drawsteelability .sheet-template-result{
  text-align: left;
  padding: 10px;
  border: solid rgb(104, 93, 64);
}

/****************************/
/* Repeating Section Styles */
/****************************/

.rpt_2col{
    display: grid;
    grid-template-columns: 100px 200px;
    column-gap: 5px;
}

.rpt_3col{
    display: grid;
    grid-template-columns: 50px 80px 200px;
    column-gap: 5px;
}

/* The thing to be hidden */
.sheet-hiddenarea{
    display:none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: #9b9b9b;
    border-radius: 20px;
}

/*  Hide the area when checked */
.sheet-hidebox:checked ~ .sheet-hiddenarea {
    display:grid;
}

/* The disabled input containing the repeating section's action name */
.info-input{
  font-size: 10px;
  padding: 0px;
}

.cost-input{
  font-size: 10px;
  padding: 0px;
  width: 50px;
}

/* The in-line action button for a repeating section */
.rptactionbutton{
  font-size: 10px;
  padding: 1px;
  height: 12px;
  border-style: none;
  background-color: transparent;
}

.rptactionbutton:hover {
  background-color: #ccc;
}

.small-val-input{
    width: 75px;
}

.medium-val-input{
    width: 150px;
}

.sheet-repholder {
    position: relative;
    border-top: solid 1px rgb(9, 9, 54);
    padding: 0px;
}

.sheet-reptitle {
    padding-left: 25px;
}

.clicktohide {
    position: absolute;
    top: 3px;
}

.clicktohide:checked ~ .sheet-hiddenarea {
    display:grid;
}

textarea.effect-text-area{
  width: 350px;
  height: 40px;
}

input[disabled]{
    background-color: transparent;
    border: transparent;
}

/* Repeating Section standard buttons */
.repcontrol .repcontrol_add,
.repcontrol .repcontrol_edit,
.repcontrol .repcontrol_del {
    background: rgb(88, 66, 66);
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    height: 12px;
    font-size: 0.9em;
    line-height: 12px;
    border: 0px;
}

.repcontrol .repcontrol_add:hover,
.repcontrol .repcontrol_edit:hover,
.repcontrol .repcontrol_del:hover {
  background: rgb(180, 28, 28);
}


/**************************/
/* Attributes             */
/**************************/

.char-stats-5col{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  column-gap: 15px;
  vertical-align: middle;
  text-align: center;
}

/* The in-line action button for an attribute */
.attrib-button{
  padding: 5px;
  width: 50px;
  border-style: none;
  padding-block: 0px;
  padding-inline: 0px;
  background-color: black;
}

.attrib-button:hover {
  background-color: #ccc;
  color: black;
}

/* The Attribute Entry Input */
.attrib-input {
  padding: 5px;
  width: 100%;
}

.attrib-button-holder{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
}

/**************************/
/* Bane and Edge Switches */
/**************************/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider_green {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 7px;
    right: 0;
    bottom: 0;
    width: 100px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider_red {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 7px;
    right: 0;
    bottom: 0;
    width: 100px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider_green:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider_red:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider_green {
    background-color: #2bff00;
  }
  input:checked + .slider_red {
    background-color: #fa0404;
  }
  
  input:focus + .slider_green {
    box-shadow: 0 0 1px #2196F3;
  }
  input:focus + .slider_red {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider_green:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  input:checked + .slider_red:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Bane and Edge Switch containers */
  .bane-top-level{
    position: relative;
    align-items: center;
    width: 120px;
  }

  .bane-grid{
    display: grid;
    grid-template-columns: 130px 130px;
    column-gap: 5px;
    text-align: center;
  }

  .edge-container{
    position: relative;
    background-color: #102e0a;
    color: white;
    padding: 3px;
    font-weight: bold;
  }

  .bane-container{
    position: relative;
    background-color: #2e0a0a;
    color: white;
    padding: 3px;
    font-weight: bold;
  }

  /***********************************/
  /* Victory and Resource Checkboxes */
  /***********************************/

  /* Top level container for a counter-set */
  .sheet-vicres-top{
    position: relative;
    border-top: solid 1px black;
    padding: 10px;
  }

  /* The grid holding vitory & resource boxes */
  .sheet-vicres-holder{
    display: grid;
    grid-template-columns: repeat(10, 20px);
    column-gap: 5px;
  }

  /* Customize the label (the container) */
  .vic-container, .res-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .vic-container input, .res-container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .vic-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the victory checkbox is checked, add a blue background */
  .vic-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* On mouse-over, add a grey background color */
  .res-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the resource checkbox is checked, add a orange background */
  .res-container input:checked ~ .checkmark {
    background-color: #f39121;
  }
  
/******************************************/
/* Stamina and recovery                   */
/******************************************/
  .sheet-stam-recover{
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 5px;
  }

  .sheet-stam-recover-inner{
    display: grid;
    grid-template-columns: 95px 95px;
  }

  .bignum{
    font-size: 25px;
  }

  .sheet-stam-recover-main{
    color: black;
  }

  .sheet-stam-recover-second{
    font-size: 10px;
    padding-top: 10px;
    text-align:center;
  }

  .sheet-stam-recover-2col{
    display: grid;
    grid-template-columns: 40px auto;
    vertical-align: middle;
  }

  .small-num-input{
    font-size: 10px;
    padding: 3px;
    height: 15px;
  }

  /********************************/
  /*      Skill Rolls             */
  /********************************/

  .sheet-skill-top{
    display: grid;
    grid-template-columns: 200px 50px;
    text-align: left;
  }

  .sheet-skill-section{
    font-size: smaller;
  }
  
  .sheet-skill-text{
    font-size: 20px;
  }

  .sheet-skill-check{
    font-size: 20px;
  }

  /* Customize the label (the container) */
  .skill-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  label.skill-container {
    padding: 0px 3px 0px 0px;
    margin-bottom: 1px;
  }
  
  /* Hide the browser's default checkbox */
  .skill-container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .skill-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .skill-container:hover input ~ .skill-checkmark {
    background-color: #ccc;
  }
  
  /* When the victory checkbox is checked, add a blue background */
  .skill-container input:checked ~ .skill-checkmark {
    background-color: #2196F3;
  }

  /* The in-line action button for a repeating section */
.skillbutton{
  font-size: 12px;
  padding: 1px;
  padding-left: 15px;
  height: 15px;
  text-align: left;
  border-style: none;
  background-color: transparent;
}

.skillbutton:hover {
  background-color: #ccc;
}

/******************************************/
/************    Kit Tab ******************/
/******************************************/

.sheet-kit-top-2col{
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 20px;
}

.sheet-kit-damage-grid{
  display: grid;
  grid-template-columns: 40px repeat(3, 50px);
  column-gap: 10px;
}

textarea.kit-smalltextarea{
  width: 400px;
  height: 50px;
}

textarea.kit-bigtextarea{
  width: 400px;
  height: 150px;
}
  
  
  
